body {
  background:antiquewhite;
  font-family: 'opensans-regular', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #838C95;

  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
 -webkit-text-size-adjust: 100%;
}
/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  
  text-align: center;
  overflow: hidden;
}

/* vertically center banner section */
header:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
header .banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 30px;
  text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h2 {
  font: 80px/1.1em 'opensans-bold', sans-serif;
  color:#313131;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
}
header .banner-text h3 {
  font: 18px/1.9em 'librebaskerville-regular', serif;
  color: rgb(51, 50, 50);
  margin: 0 auto;
  width: 70%;
}
header .banner-text h3 span,
header .banner-text h3 a {
  color: #fff;
}
header .banner-text hr {
  width: 60%;
  margin: 18px auto 24px auto;
  border-color: #2F2D2E;
  border-color: rgba(150, 150, 150, .1);
}

/* header social links */
header .social {
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
}
header .social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}
header .social li a { color: #fff; }
header .social li a:hover { color: #0762f9; }

/* scrolldown link */
header .scrolldown a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -29px;
  color: #fff;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  color: #fff;
  border-radius: 100%;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: #0762f9; }

/*  6. Buttons  --------------------------------------------------------- */

.buttonn,
.buttonn:visited,
.buttonn{
  font: 16px/30px 'opensans-bold', sans-serif;
  
  display: inline-block;
  width: 150px;
 text-decoration: none;
  letter-spacing: 0;
  color: #fff;
 padding: 12px 20px;
 margin-bottom: 18px;
 margin-left: 18px;
  border: none;
  cursor: pointer;
  height: auto;

  -webkit-transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
 -o-transition: all .2s ease-in-out;
 -ms-transition: all .2s ease-in-out;
 transition: all .2s ease-in-out;

  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
}

.buttonn:hover,
.buttonn:hover{
  background: #3d4145;
  color: #fff;
}

.buttonn:active,
.buttonn:active{
  background: #3d4145;
  color: #fff;
}

.buttonn.full-width,
.buttonn.full-width {
 width: 100%;
 padding-left: 0px !important;
 padding-right: 0 !important;
 text-align: center;
}

/* Fix for odd Mozilla border & padding issues */
.buttonn::-moz-focus-inner,
input::-moz-focus-inner {
   border: 0;
   padding: 0;
}